<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silicontechnnologies.propertymediator">

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />¬

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PropertyMediatorMainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".client.Client"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".client.AddDetails"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".view"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".client.DeleteDetails"
            android:label="@string/app_name"></activity>


        <activity
            android:name=".remainder.Reminder"
            android:label="@string/app_name" />
        <activity android:name=".remainder.ReminderListActivity" />
        <activity android:name=".remainder.NotifyList" />
        <activity
            android:name=".TaskPreferences"
            android:label="@string/app_name" />

        <receiver android:name=".receiver.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.OnAlarmReceiver" />

        <service android:name=".service.ReminderService" />

        <activity
            android:name=".remainder.ReminderEditActivity"
            android:label="@string/edit_reminder_title" />

        <activity
            android:name=".PropertyNews"
            android:label="@string/app_name" />
        <activity
            android:name=".photo.Customer"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".category.House"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".category.Landlist"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".category.Viewer"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Checkinternet"
            android:label="@string/app_name"></activity>
    </application>

</manifest>